<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <title>Cloud Computing Project</title>
  </head>
  
  <body>
    <header  class="header">
      <img class="logo" src="{{url_for('static', filename='styles/logo.webp')}}" href ="{{ url_for('static',filename='flask-drive\templates\storage.html') }}" >
      <h1 class="title">Super Classification Web App</h1>
      <p class="text">Stress our Deep Learning algorithm</p>

  </header>
    <div class="content" >
        <h2> {{msg}}</h2>
        <div>
            <p>filename: {{file_name}}</p>
                <div class="yes_no_div">
                             <form action="/feed_back" method="POST">
                                  {% if datas == "radio_type" %}
                                    {% include "feed_back_yes_no.html" %}
                                  {% elif datas == "comp_select" %}
                                    {% include "no_answer_selection_pane.html" %}
                                 {% endif %}
                                <input type="hidden" name="file_name" value={{file_name}}>
                                <button type="submit">submit</button>

                             </form>
                </div>
        </div>
    </div>

  </body>
</html>
